extends layout
block header
	link(rel="stylesheet", href="/styles/index.css")
block content
	div(id="introduction" class="introduction")
		div(class="text-vcenter")
			h1 Welcome All Users! 
			p This is a simple schedule creator that anyone and everyone can follow!
	div(id="howtouse")
		h1 How to use this!
		div(class="container")
			div(class="row")
				div(class="col-xs-12")
					ol(class="list-group")
						li(class="list-group-item")
							p Navigate to the "Program Browser" to find your program and select courses you would like to take
						li(class="list-group-item")
							p Navigate to "Select Courses" to select any additional courses (such as electives)
						li(class="list-group-item")
							p Navigate to "Schedule Options" to select any additional options!
						li(class="list-group-item")
							p Once this is all done. You can navigate to "Schedule Creator" and it will create your schedule in a easy to read and understandable format
	div(id="aboutus")
		h1 Who We Are
		p We are a couple of students in CSCI 3230 (Web Application Development) who are interested in making the student schedule process simpler. We find it absurdly difficult for a new student out of high school who only had to pick what courses they wanted to take to what course, available times, laboratories, tutorials, everything. With this app, we hope to simplify the process so that each student can have ease of mind on what to find, where to find it, and how to register properly.

	

